body {
  width: 250px;
  height: 150px;
  font-size: medium;
  text-align: center;
  background-color: #344e41;
  color: #dad7cd;
}

input[type='text'] {
  background-color: #a3b18a;
  margin-bottom: 10px;
}
input[type='submit'] {
  margin-bottom: 10px;
  background-color: #dda15e;
  color: #283618;
}
